<a href="https://colab.research.google.com/github/sherlockian4869/python/blob/main/minnano_ai/Basic/python_basic_1~3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Workd!")

Hello Workd!

In [ ]:
a = 3
b = 4
print(a + b)

7

リスト

In [ ]:
a = [2011, 2012, 2013, 2014, 2015]
print(a[0])
print(a[1])

2011
2012

In [ ]:
b = 2016
c = [b, 2017, 20.1, "Hello", "Hi"]

print(c[1:4])

[2017, 20.1, 'Hello']

二次元配列

In [ ]:
d = [[1997, 1998, 1997], [2000, 2001, 2002]]
print(d[0])
print(d[0][1])

[1997, 1998, 1997]
1998

In [ ]:
e = ["Py", 543.21, 79, "thon", [2018, 2019, 2020]]
print(e)
e[2] = 80
print(e)
e.append("aiueo")
print(e)

['Py', 543.21, 79, 'thon', [2018, 2019, 2020]]
['Py', 543.21, 80, 'thon', [2018, 2019, 2020]]
['Py', 543.21, 80, 'thon', [2018, 2019, 2020], 'aiueo']

タプル

In [ ]:
a = [2011, 2012, 2013]
b = (2011, 2012, 2013)

print(a)
print(b)

print(a[0])
print(b[0])

a[1] = 2016
print(a)

# b[1] = 2015
# print(b)

a.append(2015)
print(a)

# b.append(2015)
# print(b)

[2011, 2012, 2013]
(2011, 2012, 2013)
2011
2011
[2011, 2016, 2013]
[2011, 2016, 2013, 2015]

In [ ]:
a = {"Taro":1985, "Hanako":1986}
print(a["Taro"])

a["Hanako"] = 1987
print(a)

a["Jiro"] = 1989
print(a)

1985
{'Taro': 1985, 'Hanako': 1987}
{'Taro': 1985, 'Hanako': 1987, 'Jiro': 1989}

In [ ]:
a = 5

if a == 5:
  print("3+4=")
  print(3+4)
else:
  print("3×4=")
  print(3*4)

3+4=
7

In [ ]:
b = 4

if b < 3:
  print("Hello")
elif b < 5:
  print("Hi")
else:
  print("Yeah")

Hi

In [ ]:
time = 20

if time < 12:
  print("Good morning")
elif time < 17:
  print("Good afternoon")
elif time < 21:
  print("Good evening")
else:
  print("Good night")

Good evening

In [ ]:
a = [2001, 2002, 2003, 2004, 2005]

for i in a:
  print(i + 10)

2011
2012
2013
2014
2015

In [ ]:
for i in range(0, 6):
  print(i * 2)

0
2
4
6
8
10

In [ ]:
print("----10未満----")

a = 0
while a < 10:
  print(a)
  a += 1

print("----10と等しくない----")
b = 0
while b != 10:
  print(b)
  b += 1

----10未満----
0
1
2
3
4
5
6
7
8
9
----10と等しくない----
0
1
2
3
4
5
6
7
8
9

In [ ]:
a = []
for i in range(0, 10):
  if i % 2 == 0:
    a.append(i)

print(a)

[0, 2, 4, 6, 8]

In [ ]:
def say_hello():
  print("Hello World")

say_hello()

Hello World

In [ ]:
def say_gm():
  print("Good morning")

say_gm()
say_gm()

Good morning
Good morning

In [ ]:
def say_number(a):
  print(a);

say_number(123)

123

In [ ]:
def add(a, b, c):
  d = a + b + c
  print(d)

add(3, 4, 5)

12

In [ ]:
def get_number():
  a = 123
  return a

b = get_number()
print(b)

123

def add(a, b):
  c = a + b
  return c

result1 = add(3, 4)
print(result1)

result2 = add(7, 8)
print(result2)

In [ ]:
glob_1 = 123

def show_number():
  loc_1 = 456
  print(glob_1, loc_1)

show_number()

123 456

glob_2  = 123

def setNum():
  loc_2 = 456

setNum()
print(glob_2, loc_2)

In [ ]:
class Calc:
  def add(self, a, b):
    print(a + b)

  def multiply(self, a, b):
    print(a * b)

cl = Calc()
cl.add(2, 3)
cl.multiply(4, 5)

5
20

In [ ]:
class Box:
  def set_number(self, n1, n2):
    self.num1 = n1
    self.num2 = n2

bx = Box()
bx.set_number(123, 456)

print(bx.num1)
print(bx.num2)

bx.num1 = 999
print(bx.num1)

123
456
999

In [ ]:
class Dog:
  def set_dog(self, n, a):
    self.name = n
    self.age = a

dog1 = Dog()
dog1.set_dog("Pochi", 5)

dog2 = Dog()
dog2.set_dog("Hachi", 12)

dogs = [dog1, dog2]
for d in dogs:
  print(d.name, d.age)

Pochi 5
Hachi 12

In [ ]:
greetings = "Good morning! Good night!"

with open("greetings.txt", "w") as f:
  f.write(greetings)

In [ ]:
with open("greetings.txt", "r") as f:
  print(f.read())

Good morning! Good night!